<div class="p-5">
  <div class="flex items-center space-x-3 mb-4">
    <span class="text-xl font-semibold text-gray-700">Alperen Ergül</span>
  </div>

  <input type="text" [(ngModel)]="data.title" placeholder="Title"
         class="w-full p-2 text-lg font-medium border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
  <textarea [(ngModel)]="data.content" placeholder="What's on your mind?"
            class="w-full p-2 mt-3 text-gray-600 border border-gray-300 rounded-lg resize-none focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>

  <div class="flex justify-end mt-3">
    <button (click)="cancel()"
            class="px-4 py-2 text-white bg-gray-400 rounded-lg hover:bg-blue-600 transition cursor-pointer">
      <span class="text-white">Cancel</span>
    </button>
    <button (click)="updatePost()"
            class="px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600 transition cursor-pointer ml-2">
      Update Post
    </button>
  </div>
</div>
