<div class="w-full flex justify-center">

  <div class="w-[800px] flex flex-col my-10 px-4">


    @for (post of posts; track post.username){
      <div class="w-full max-w-[800px] mx-auto bg-white rounded-lg shadow-sm p-4 sm:p-6 border border-gray-100 mt-3
            px-4 sm:px-6">

        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-2">
          <span class="text-md font-semibold text-gray-700">{{ post.username }}</span>
          <span class="text-sm text-gray-500 mt-1 sm:mt-0">{{ post.createdAt }}</span>
        </div>

        <h3 class="text-lg font-semibold text-gray-800">{{ post.title }}</h3>

        <p class="text-gray-600 mt-2 text-md sm:text-base">{{ post.content }}</p>
      </div>

    }
  </div>

</div>
